.btn{
    background-color: #0D1321;
    padding: 24px 21px;
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 14px;
}
.banner-tittle{
    font-weight: 900;
    font-size: 48px;
    
}
.banner{
    background-image: url(../B10A1-Challenge-Begins/assets/Hero-bg.png);
    
    margin-top: 100px; 
    margin-bottom: 100px;

    

}
.banner-container{
    text-align: center;
    
    
}
main{
    padding: 97px 80px;
    background-color: rgba(13, 19, 33, 0.02); 
}
.information{

    
    text-align: center;
}
.one ,.two,.three{
    display: flex;
    gap: 100px;

}
.inspiration{
    text-align: center;
    padding: 97px 80px;
}
.next-target{
        text-align: center;
        padding: 97px 80px;
        
    }
.learn{
        text-decoration: underline;
    }
 .skills-container{
        display: flex;
        padding: 97px 80px;
        gap: 130px;
        justify-content: space-around;
        

    }
skill{
    padding: 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}
.support{
    padding: 97px 80px;
    text-align: center;
    color: white;
    background-image: url(../B10A1-Challenge-Begins/assets/handshake.jpg);
    margin-bottom: 100px;

}